.P-login
    position: absolute
    top: 0
    bottom: 0
    width: 100%
    overflow: hidden
    background-image:url('./src/img/login_bc.png')  
    background-repeat: no-repeat
    background-size: cover
    display: flex
    .left-body
        width: 40%
        margin-left: 5%
        margin-top: 10%
        .h-1
            font-weight: 700
            font-size: 48px
        .h-2
            color: rgba(42, 130, 228, 1)
            margin-top: 5%
            font-size: 20px
        .text
            font-size: 16px
    .right-body
        width: 35%
        margin-left: 5%
        background-color: #ffffff
        border-radius: 5%
        height: 50%
        margin-top: 10%
        padding-top: 3%
        .ri_text
            margin: 0 auto 20px
            width: 400px
            text-align: center 
            color: rgba(16, 93, 181, 1)
            font-size: 28px
            font-weight: 700
        .logo
            display: block
            margin: 50px auto 20px
        .ipt-con
            margin: 0 auto 20px
            width: 400px
            text-align: center 
            display: flex
            justify-content: space-between
            .ri_regist
                color: rgba(16, 93, 181, 1)

