.personP
    display: flex
    background-color: #F5F5F5
    .personP-left
        width: 22.4%
        background-color: #FFFFFF
        height: 750px
        .personP-left-body
            width: 80%
            margin-left: 25px
            margin-top: 20px 
            .personP-left-body-h
                font-weight: 700
                margin-bottom: 20px 
            .personP-left-body-opt
                display: flex
                margin-top: 38px
                .opt-t
                    color: #9C9FA7
                .opt-d
                    margin-left: 20px
                    font-weight: 400
                .opt-but
                    background-color: #1DABA6
    .personP-right
        width: 61%
        margin-left: 25px
        background-color: #FFFFFF
        height: 750px
        .personP-right-h
            font-weight: 700
            padding: 3%
        .bl-info
            width: 90%
            
            display: flex
            background-color: #63A0E6
            margin-top: 3%
            border-radius: 5px
            height: 38px
            align-items: center
            margin-left: 5%
            
            .bl-time
                color: #FFFFFF
                margin-left: 10px
                
            .bl-content
                color: #FFFFFF
                margin-left: 85px