.prescriptionD
    display: flex
    background-color: #F5F5F5
    .prescriptionD-left
        width: 22.4%
        background-color: #FFFFFF
        height: 750px
        .prescriptionD-left-body
            width: 80%
            margin-left: 25px
            margin-top: 20px 
            .prescriptionD-left-body-h
                font-weight: 700
                margin-bottom: 20px 
            .prescriptionD-left-body-opt
                display: flex
                margin-top: 38px
                .opt-t
                    color: #9C9FA7
                .opt-d
                    margin-left: 20px
                    font-weight: 400
    .prescriptionD-right
        width: 61.2%
        background-color: #FFFFFF
        height: 750px
        margin-left: 51px
        .prescriptionD-right-body
            width: 95%
            margin-left: 25px
            margin-top: 20px 
            display: flex
            justify-content: space-between
            border: #63A0E6 solid 1px
            border-radius: 10px
            .prescriptionD-right-body-opt
                width: 16%
                background-color: #EEF6F6
                display: flex
                justify-content: center
                align-items: center
                font-weight: 700
                border-radius: 10px
            .pre-ri-opt-main
                width: 70%
                .opt
                    display: flex
                    margin-top: 3%
                    .opt-bz
                        width: 25%
                        display: flex
                        justify-content: center
                        // align-items: center
                    .opt-int
                        width: 562px
                        border: solid black 1px
                        padding: 2%
                        white-space: pre-wrap; /* 允许自动换行 */
                        word-wrap: break-word; /* 允许在单词内换行 */
                        // height: 186px
                        // overflow hidden
                .opt3
                    width: 100%
                    margin-top: 3%
                    display: flex
                    justify-content: center
                    margin-bottom: 3%
                .opt4
                    width: 100%
                    margin-top: 3%
                    display: flex
                    justify-content: space-around
                    margin-bottom: 3%
                .pre-table
                    width: 100%
                    .pre-t-body
                        padding-top: 1%
                        .pre-t-b-tr
                            padding-top: 1%
                            height: 50px
                            line-height: 50px
                            .pre-tbody-circle
                                background-color: #E6E6E6
                                width: 18px
                                height: 18px
                                border-radius: 50%
                                margin: 0 auto
                            .pre-ops
                                display: flex
                                .pre-ico
                                    width: 50%
            .pre-ri-opt-ri
                width: 10%
                background-color: #EEF6F6
                border-radius: 10px
                