.P-home
    background-color: #FFFFFF
    border-radius: 3px
    .P-header
        width: 100%
        height: 60px
        // border: 2px blue solid
        display: flex
        justify-content: space-between
        align-items: center
        // margin-top: 5%
        .p-l
            color: rgba(29, 33, 41, 1)
            font-weight: 700
            font-size: 30px
            margin-left: 3%
        .p-r
            margin-right: 3%
            width: 30%
    .P-body
        display: flex
        margin-top: 5%
        width: 100%
        height: auto
        justify-content: space-between
        // margin-left: 2%
        #pitem1
            padding-left: 1%
        .Pitem
            padding-bottom: 12%
            width: 70%
            .p-i-i
                width: 300px
            .p-i-h
                font-weight: 700
                margin: 3%
                font-size: 25px
            .p-i-t
                font-weight: 200
                margin: 3%
                width: 75%

            