.home
    position: absolute
    top: 0
    bottom: 0
    width: 100%
    background: #F5F5F5
    .P-entry
        display: flex
        height: 100%
        .main-container
            position: relative
            margin: 3% 0 0 2%
            flex: 1
