.chat
    width: 80%
    height: 80%
    // background-color: green
    .body
        width: 80%
        
    .footer
        position: fixed;
        display: flex
        width: 60%
        left: 30%
        overflow: hidden
        bottom: 0;
        background-color: #f0f0f0; /* Optional: Add background color */
        padding: 10px; /* Optional: Add padding for better visibility */
        text-align: center; /* Optional: Center content */