.chat
    width: 80%
    height: 80%
    // background-color: green
    .body
        width: 80%
        .chat-cotent
            margin: 1%
            padding: 1%
            background-color: #CAE1FA
            font-size: 20px
            border-radius: 6px
            display: flex
            align-content: center
            align-items: center
            .fixedAvatar
                height: 50px
                width: 50px
            .chat-text
                margin-left: 4%
                word-wrap: break-word;
                // height: 50px
                line-height: 50px;
    .footer
        position: fixed;
        display: flex
        width: 54%
        left: 20%
        overflow: hidden
        bottom: 0;
        background-color: #f0f0f0; /* Optional: Add background color */
        padding: 10px; /* Optional: Add padding for better visibility */
        text-align: center; /* Optional: Center content */