.add-Doctor
    border-radius: 10px
    .add-Doctor-body
        margin: 0 auto
        width 80%
        padding: 3%
        .add-Doctor-body-h
            font-size: 20px
            font-weight: 700
        .add-Doctor-body-opt
            font-size: 15px
            display: flex
            margin-top: 3%
            color: #9C9FA7
            // justify-content: space-around
            // justify-content: center; /* 水平居中 */
            // align-items: center; /* 垂直居中 */
            .add-Doctor-body-opt-title
                font-size: 15px
                margin-right: 5% 
                width: 20%
            .add-Doctor-body-opt-input
                padding-left: 2%
                opacity: 1
                background-color: #F7F7F7
                border-radius: 5%
                color: black
                // font-weight: 600
            .add-Doctor-body-opt-textarea
                padding-left: 2%
                width: 80%
                opacity: 1
                background-color: #F7F7F7
                border-radius: 5%
                color: black
                // font-weight: 600
    .add-Doctor-footer
        display: flex
        justify-content: space-around
        padding: 3%
        border-radius: 10px
                
                    