.SecduleD
    width: 95%
    margin: 0 auto
    display: flex
    justify-content: center
    .Ap-info
        background-color: #FFFFFF
        width: 90%
        border-radius: 10px
        margin-left: 3%
        .Hospi-Ptitle
            font-weight: 700
            font-size: 16px
            padding: 3%
        .Hospi-Pbody
            width: 100%
            display: flex
            padding: 1%
            // margin-top: 5%
            opacity: 1;
            border-radius: 10px
            
            .Hospi-Pbody-l
                width: 20%
                background-color: #EEF6F6
                border-radius: 10px 0 0 10px
                border-top: solid #63A0E6 2px
                border-bottom: solid #63A0E6 2px
                border-left: solid #63A0E6 2px
                .Hospi-Pbody-lid
                    font-weight: 700
                    font-size: 14px
                    padding: 5%
                .Hospi-Pbody-ldate
                    color: #63A0E6
                    font-size: 12px
                    padding: 5%
                .Hospi-Pbody-lpname
                    padding: 5%
                    font-size: 12px
                .Hospi-Pbody-lsd
                    padding: 5%
                    font-size: 12px
            .Hospi-Pbody-m
                width: 70%
                border-top: solid #63A0E6 2px
                border-bottom: solid #63A0E6 2px
                .Hospi-Pbody-mitem
                    padding: 1.5%
                    font-size: 12px
                    font-weight: 400
                    display: flex
                    .Hospi-Pbody-miteml
                        padding-right: 20px
            .Hospi-Pbody-r
                width: 10%
                background-color: #EEF6F6
                border-radius: 0 10px 10px 0
                border-top: solid #63A0E6 2px
                border-right: solid #63A0E6 2px
                border-bottom: solid #63A0E6 2px
                display: flex;
                justify-content: center; /* 水平居中 */
                align-items: center; /* 垂直居中 */
        .Hospi-Pbody2
            padding: 1%
            display: flex
            .Hospi-Pbody2-l
                width: 20%
                height: 60px
                border-radius: 10px 0 0 10px
                border-top: solid #63A0E6 2px
                border-bottom: solid #63A0E6 2px
                border-left: solid #63A0E6 2px
                display: flex
                // justify-content: center; /* 水平居中 */
                align-items: center; /* 垂直居中 */
                .Hospi-Pbody2-lid
                    font-weight: 700
                    font-size: 14px
                    padding: 5%
            .Hospi-Pbody2-m
                width: 65%
                border-top: solid #63A0E6 2px
                border-bottom: solid #63A0E6 2px
            .Hospi-Pbody2-r
                width: 15%
                border-radius: 0 10px 10px 0
                border-top: solid #63A0E6 2px
                border-right: solid #63A0E6 2px
                border-bottom: solid #63A0E6 2px
                display: flex
                justify-content: center; /* 水平居中 */
                align-items: center; /* 垂直居中 */
                

