.bl-opt
    border: #63A0E6 solid 1px
    display: flex
    border-radius: 10px 
    margin: 5%
    width: 90%
    .opt-l
        width: 45%
        background-color: #EEF6F6
        padding: 3%
        border-radius: 10px 
        width: 40%
        .l-o
            color: #63A0E6
            padding: 3%
        .l-h
            font-weight: 700
            padding: 3%
    .opt-r
        font-size: 15px
        width: 100%
        .r-o
            font-weight: 400
            // padding: 3%
            font-size: 16px
            width: 90%
            margin: 0 auto
            // margin-bottom: 30%
        .r-table
            width: 90%
            margin: 0 auto
            // border: 1px black solid
            .rt-head
                color: #63A0E6
                // border: 1px black solid
            .rt-body
                // border: 1px black solid
                .rt-b-tr
                    // border: 1px black solid
            

