.D_info
    width 100%
    height: 50%
    background-color: #FFFFFF
    .Dinfo_header
        // border: solid 3px black
        display: flex
        justify-content: space-between
        opacity: 1;
        padding: 3% 
        .dinfo-h-b
            background-color: #1DABA6
            color: #FFFFFF
    .Dinfo_body
        padding: 2% 
        font-size: 16px
        background-color: #FFFFFF
        .dinfo-table
            width: 100%
            .dinfo-thead
                color: #9C9FA7
            .dinfo-tbody
                padding-top: 1%
                .dinfo-tbody-tr
                    padding-top: 1%
                    height: 50px
                    line-height: 50px
                    // border: solid 2px black
                    .dinfo-tbody-circle
                        background-color: #E6E6E6
                        width: 18px
                        height: 18px
                        border-radius: 50%
                        margin: 0 auto
                    .dinfo-ops
                        display: flex
                        // justify-content: space-between
                        .dinfo-ico
                            width: 50%
